.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  padding: .5rem;
  border-width: .1rem;
  border-radius: 8px;
  border-color: gray;
  border-style: solid;
}
